<app-nav-bar></app-nav-bar>
<body>
<main>

    <div class="container my-">
        <div class="card-body text-center">
            <h1 class="dashboard-title-font">Funktionsevnetilstand</h1>
            <h4>Mark Otto</h4>
        </div>
    </div>
    <div class="container my-2" style="padding-bottom: 10%">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Egenomsorg
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Praktiske opgaver
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Mobilitet
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="row">
                        <button class="btn btn-link" style="background: darkgreen" data-bs-toggle="modal" data-bs-target="#subcatFunctionModal">Problemer med væskeindtag</button>
                        <button class="btn btn-link" style="background: #ff7a1d" data-bs-toggle="modal" data-bs-target="#subcatFunctionModal">Problemer med fødeindtag</button>
                        <button class="btn btn-link" style="background: grey" data-bs-toggle="modal" data-bs-target="#subcatFunctionModal">Uhensigtsmæssig vægtændring</button>
                        <button class="btn btn-link" style="background: #ff7a1d" data-bs-toggle="modal" data-bs-target="#subcatFunctionModal">Problemer med overvægt</button>
                        <button class="btn btn-link" style="background: grey" data-bs-toggle="modal" data-bs-target="#subcatFunctionModal">Problemer med undervægt</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Mentale funktioner
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Samfundsliv
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
        <app-subcategory-modal-function></app-subcategory-modal-function>
    </div>
</main>
</body>
<app-footer></app-footer>