<app-nav-bar></app-nav-bar>

<!---- Container and labels with inputs, put into rows, for all generel information ---->
<div class="container rounded bg-white mt-5 mb-5">
    <form [formGroup]="updateForm">
    <div class="row" *ngIf="subject != null">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://flyclipart.com/thumb2/profile-icon-png-black-196391.png"><span class="font-weight-bold">{{subject.firstName}} {{subject.lastName}}</span><span class="text-black-50">{{subject.email}}</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right" style="color: #487288 ">Generelle Oplysninger</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels" for="firstName">Fornavn</label><input id="firstName" type="text" class="form-control" formControlName="firstName" value="{{subject.firstName}}" placeholder="Fornavn"></div>
                    <div class="col-md-6"><label class="labels" for="lastName">Efternavn</label><input type="text" id="lastName" formControlName="lastName" class="form-control" value="{{subject.lastName}}" placeholder="Efternavn"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels" for="phone">Telefon nummer</label><input type="text" id="phone" formControlName="phone" class="form-control" placeholder="Telefon Nummer" value="{{subject.phone}}"></div>
                    <div class="col-md-12"><label class="labels" for="email">Email</label><input type="text" id="email" formControlName="email" class="form-control" placeholder="Email" value="{{subject.email}}"></div>
                    <div formGroupName="address">
                        <div class="col-md-12"><label class="labels" for="address">Adresse</label><input type="text" id="address" formControlName="address" class="form-control" placeholder="Adresse" value="{{subject.address.street}}"></div>
                    <div class="col-md-12"><label class="labels" for="postCode">Postnummer</label><input type="text" id="postCode" formControlName="postCode" class="form-control" placeholder="Post Nummer" value="{{subject.address.postCode}}"></div>
                    <div class="col-md-12"><label class="labels" for="city">By</label><input type="text" id="city" formControlName="city" class="form-control" placeholder="By" value="{{subject.address.city}}"></div>
                    </div>
                </div>
                <div class="row mt-3">
                    <h4 style="color: #487288 ">Omgivelsesfaktorer</h4>
                    <div class="col-md-12"><label class="labels">Hjælpemidler</label><input type="text" class="form-control" placeholder="Beskrivelse" value="{{subject.general.utility}}"></div>
                    <div class="col-md-12"><label class="labels">Boligens indretning</label><input type="text" class="form-control" placeholder="Beskrivelse" value="{{subject.general.houseDecor}}"></div>
                    <div class="col-md-12"><label class="labels">Netværk</label><input type="text" class="form-control" placeholder="Beskrivelse" value="{{subject.general.network}}"></div>
                </div>
                <div class="mt-5 text-center" style="padding-bottom: 15%"><button class="btn btn-primary profile-button" (click)="clickOnSave()" type="button" data-bs-toggle="modal" data-bs-target="#subNavModal">Save Profile</button></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span><h4 style="color: #487288 ">Personlige faktorer</h4></span></div><br>
                <div class="col-md-12"><label class="labels">Mestring</label><input type="text" class="form-control" placeholder="Beskrivelse" value="{{subject.general.mastery}}"></div> <br>
                <div class="col-md-12"><label class="labels">Motivation</label><input type="text" class="form-control" placeholder="Beskrivelse" value="{{subject.general.motivation}}"></div>
                <div class="col-md-12"><label class="labels">Ressourcer</label><input type="text" class="form-control" placeholder="Beskrivelse" value="{{subject.general.resources}}"></div>
                <div class="col-md-12"><label class="labels">Roller</label><input type="text" class="form-control" placeholder="Beskrivelse" value="{{subject.general.roles}}"></div>
                <div class="col-md-12"><label class="labels">Vaner</label><input type="text" class="form-control" placeholder="Beskrivelse" value="{{subject.general.habits}}"></div>
                <div class="col-md-12"><label class="labels">Uddannelse og Job</label><input type="text" class="form-control" placeholder="Beskrivelse" value="{{subject.general.educationJob}}"></div>
                <div class="col-md-12"><label class="labels">Livshistorie</label><input type="text" class="form-control" placeholder="Beskrivelse" value="{{subject.general.lifeLog}}"></div>
                <div class="col-md-12"><label class="labels">Helbredsoplysninger</label><input type="text" class="form-control" placeholder="Beskrivelse" value="{{subject.general.healthInfo}}"></div>
            </div>
        </div>
    </div>
    </form>
    <app-nav-modal></app-nav-modal>
</div>

<app-footer></app-footer>