<!---- Modal for function subcategories editing, pop up that shows up with click on btn-link ---->
<div class="modal" id="subcatFunctionModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <header class="modal-title"><b>Kategori</b> - Underkategori</header>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label data-toggle="tooltip" title="Læs mere om Niveauer på www.FS3.nu">Nuværende niveau</label>
                    <select class="form-select form-select-lg" aria-label="Default select example">
                        <option selected>9 - Ikke relevant</option>
                        <option value="1">0 - Ingen/ubetydelige begrænsninger</option>
                        <option value="2">1 - Lette begrænsninger</option>
                        <option value="3">2 - Moderate begrænsninger</option>
                        <option value="4">3 - Svære begrænsninger</option>
                        <option value="5">4 - Totale begrænsninger</option>
                    </select> <br>
                    <label data-toggle="tooltip" title="Læs mere om Niveauer på www.FS3.nu">Forventet niveau</label>
                    <select class="form-select form-select-lg" aria-label="Default select example">
                        <option selected>9 - Ikke relevant</option>
                        <option value="1">0 - Ingen/ubetydelige begrænsninger</option>
                        <option value="2">1 - Lette begrænsninger</option>
                        <option value="3">2 - Moderate begrænsninger</option>
                        <option value="4">3 - Svære begrænsninger</option>
                        <option value="5">4 - Totale begrænsninger</option>
                    </select> <br>
                    <label data-toggle="tooltip" title="Hvis ikke niveauet er dækkende, kan der skrives et notat herunder">Fagligt notat</label>
                    <textarea class="form-control" style="margin-bottom: 2%" id="exampleFormControlTextarea2" rows="3"></textarea>
                    <label >Daglig observation</label>
                    <textarea class="form-control" id="exampleFormControlTextarea3" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" style="background: #ff7a1d" class="btn btn-primary btn-block">Gem som potentielt</button>
                <button type="submit" style="background: darkgreen" class="btn btn-primary btn-block">Gem som ikke releveant</button>
                <button type="submit" class="btn btn-danger btn-block" data-bs-dismiss="modal">Fortryd</button>
            </div>
        </div>
    </div>
</div>
