
<div class="modal" id="subcatFunctionModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <header class="modal-title"><b>Kategori</b> - Underkategori</header>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Nuværende niveau</label>
                    <select class="form-select form-select-lg" aria-label="Default select example">
                        <option selected></option>
                        <option value="1">Niveau 0</option>
                        <option value="2">Niveau 1</option>
                        <option value="3">Niveau 2</option>
                        <option value="4">Niveau 3</option>
                        <option value="5">Niveau 4</option>
                    </select> <br>
                    <label>Forventet niveau</label>
                    <select class="form-select form-select-lg" aria-label="Default select example">
                        <option selected></option>
                        <option value="1">Niveau 0</option>
                        <option value="2">Niveau 1</option>
                        <option value="3">Niveau 2</option>
                        <option value="4">Niveau 3</option>
                        <option value="5">Niveau 4</option>
                    </select> <br>
                    <label>Fagligt notat</label>
                    <textarea class="form-control" style="margin-bottom: 2%" id="exampleFormControlTextarea2" rows="3"></textarea>
                    <label >Daglig observation</label>
                    <textarea class="form-control" id="exampleFormControlTextarea3" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" style="background: #ff7a1d" class="btn btn-primary btn-block">Gem som potentielt</button>
                <button type="submit" style="background: darkgreen" class="btn btn-primary btn-block">Gem som ikke releveant</button>
                <button type="submit" class="btn btn-danger btn-block" data-bs-dismiss="modal">Fortryd</button>
            </div>
        </div>
    </div>
</div>
