<h1 style="text-align: center;">
    Log på SOSUSYSTEM
</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="container">
        <mat-form-field>
            <input matInput placeholder="E-mail" formControlName="email">
            <mat-hint *ngIf="loginForm.controls.email.errors">E-mail er påkrævet</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-hint *ngIf="loginForm.controls.password.errors">Adgangskode er påkrævet</mat-hint>
        </mat-form-field>
        <button (click)="tryLogin()" mat-flat-button color="primary" [disabled]="!loginForm.valid" type="submit">Log På</button>
    </div>
</form>