
footer{
  position: fixed;
  bottom:45px;
  width:100%;
  height:50px;   /* Height of the footer */
  background:#6cf;
}
.bg__card__footer{
  background: #1a2933;
  background: -webkit-linear-gradient(59deg, #3A6073, #1a2933);
  background: linear-gradient(59deg, #3A6073, #1a2933);
  color: white;
}
#add__new__list{
  top: -38px;
  right: 0px;
}
.btn-outline-primary:hover, .btn-outline-primary:focus,.btn-outline-primary:active {
  color: white;
  background: #ff7a1d;
  border-color: #ff7a1d;
}
.btn-outline-primary {
  color: #487288;
}
.btn-primary {
  background: #487288;
}
.btn-primary:hover, .btn-primary:focus,.btn-primary:active{
  background: #ff7a1d;
  border-color: #ff7a1d;
  outline-color: #487288;

}
.thead {
  color: white;
  background: #487288;
}
.dashboard-title-font{
  font-family: sans-serif;
  font-weight: bold;
  color: #487288;
}