.row {
  text-align: center;
}
.card {
text-align: center;
}
.btn-link {
  color: #487288;
  font-weight: bold;
}
.btn-link:hover, .btn-primary:focus,.btn-primary:active{
  color: #ff7a1d;
}
h1 {
  color: #487288;
}
h4 {
  color: #ff7a1d;
}